.addCoffe {
    background: $color-dark-beigie;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;

    input {
        background: $color-white;
        padding: 5px 10px;
        margin: 0 10px;
        outline: none;
        border: 1px solid $color-black;
        border-radius: 5px;

        &::placeholder {
            text-align: left;
            font-size: 16px;
        }
    }

    select {
        padding: 5px 10px;
        background: $color-white;
        margin:0 10px;
        border: 1px solid $color-black;
    }

    .btn_container {
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: center;

        button {
            padding: 0 5px;
        }
    }
}
