@import './settings/colors.scss';
@import './settings/fonts.scss';
@import './general/general.scss';
@import './parts/header.scss';
@import './parts/coffeshop.scss';
@import './parts/addCoffe.scss';
@import './parts/coffecard.scss';
@import './parts/singlecoffe.scss';

@import './parts/landingpage.scss';
@import './parts/about.scss';



.App {
    position: relative;
    text-align: center;
    overflow: hidden;
    background: $color-red;
}
