@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css?family=Carter+One&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

h2 {
    font-size: 30px;
    //font-family: 'Pangolin', cursive;
    font-family: 'Carter One', cursive;
}

h3 {
    font-size: 22px;
    //font-family: 'Pangolin', cursive;
    font-family: 'Carter One', cursive;
}

h1 {
    font-size: 45px;
    //font-family: 'Pangolin', cursive;
    font-family: 'Carter One', cursive;
}
