.google-loader {
    margin: 0 auto;
    position: relative;
    top: 350px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    transform: translateY(-50%);
}

.dot {
    margin: 10px;
    background-color: $color-white;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}

.dot {
    animation: ani 1s ease-in-out infinite alternate forwards;
}

.blue {
    background-color: $color-black;
    animation-delay: 0.2s;
}

.red {
    background-color: $color-white;
    animation-delay: 0.4s;
}

.yellow {
    background-color: $color-middle-beigie;
    animation-delay: 0.6s;
}

.green {
    background-color: $color-light-beigie;
    animation-delay: 0.8s;
}
@keyframes ani {
    to {
        transform: translateY(10rem);
    }
}
